<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuesi.xuesisi.mapper.ClassMapper">

    <resultMap id="BaseResultMap" type="com.xuesi.xuesisi.model.entity.Class">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="className" column="className" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacherId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,className,teacherId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
