<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuesi.xuesisi.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.xuesi.xuesisi.model.entity.Question">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionContent" column="questionContent" jdbcType="VARCHAR"/>
            <result property="tagsStr" column="tags" jdbcType="VARCHAR"/>
            <result property="questionType" column="questionType" jdbcType="TINYINT"/>
            <result property="optionsStr" column="options" jdbcType="VARCHAR"/>
            <result property="answerStr" column="answer" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="source" column="source" jdbcType="TINYINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionContent,tags,
        questionType,options,answer,
        score,source,userId,
        createTime,updateTime,isDelete
    </sql>
    
    <insert id="insert" parameterType="com.xuesi.xuesisi.model.entity.Question" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO question (
            questionContent, tags, questionType,
            options, answer, score,
            source, userId
        ) VALUES (
            #{questionContent}, #{tagsStr}, #{questionType},
            #{optionsStr}, #{answerStr}, #{score},
            #{source}, #{userId}
        )
    </insert>
</mapper>
