<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuesi.xuesisi.mapper.ScoringResultMapper">

    <resultMap id="BaseResultMap" type="com.xuesi.xuesisi.model.entity.ScoringResult">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="resultName" column="resultName" jdbcType="VARCHAR"/>
            <result property="resultDesc" column="resultDesc" jdbcType="VARCHAR"/>
            <result property="isDynamic" column="isDynamic" jdbcType="TINYINT"/>
            <result property="questionBankId" column="questionBankId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,resultName,resultDesc,
        isDynamic,questionBankId,
        userId,score,duration,status,
        createTime,updateTime,isDelete
    </sql>
</mapper>
